<div class="row d-flex align-items-stretch list-col">

  <!-- Loop through each list -->
  {{#each trelloList as |list|}}
  <div class="col-md-3 d-flex flex-wrap">  
    <div class="card">
      <strong> {{list.name}} </strong>
      {{trello-card list=list}}
      {{create-card list=list}}
    </div>   
  </div>
  {{/each}}

{{!-- Add a new list --}}
  <div class="col-md-3 d-flex flex-wrap">  
    <div class="card">
      <div class="new-list-box">
        {{input
          type="text"
          id="new-list"
          placeholder="Add a list..."
          value=newList
          action="createList"
          class= "card-input"
        }}
      </div>
    </div>
  </div> 
</div>
