html
header {
  text-align: center;
  margin: 30px;
}

html
body {
  margin: 30px;
}

.card {
  background-color: #18deba;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  height: 300px;
  text-align: center;
}

.card-sm {
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  height: 50px;
  margin: 13px;
  border-radius: 5px;
  background: white;
}

.new-list-box {
  text-align: center;
}

input[type=text]:focus {
  width: 235px;
  border: 3px ;
}

input[type=text]{
  height: 50px;
  border: 0px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

}

.edit_hover_icon i{
  visibility:hidden;
}
.edit_hover_icon:hover i {
 visibility:visible;
}

.modal-background {
  background: rgba(30, 30, 30, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
}
.modal-frame {
    position: fixed;
    top: 25%;
    left: 25%;
    border: 1px solid #333;
    background: white;
    height: 300px;
    width: 600px;
  }
  .modal-title {
    position: absolute;
    top: 0;
    width: 100%;
    height:30px;
    text-align: center;
    border-bottom: 2px solid black;
  }
  .modal-body {
    margin-top: 40px;
    padding: 5px;
    overflow: scroll;
    height: 65%;
  }
  .modal-footer {
    height: 30px;
  }

.modal-description {
  text-align: left;
}